/* estilo con link*/
header{
    background:darkgreen;
}

section{
    background:darkcyan;
}

h1{
    color:whitesmoke;
    font-size: 70px;
}
h2{
    color:oldlace;
}
nav{
    background: rgba(15, 187, 255, 0.45);
}
h3{
    color: rgb(239, 236, 231);
    background: hsla(204, 45%, 55%, 1);
}
img{
    width: 150px;
}
/* agregar dos secciones o mas, usar color tipo rgb, rgba , hsl  y hexadecimal