* {
    text-align: center;
}

h1 {
    margin: 30px;
}

.button-container{
    margin: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    color: #fff; text-align: center; 
}

.primary-btn {
    background-color: #3498db;
}

.secondary-btn {
    background-color: #2ecc71;
}

.success-btn {
    background-color: #27ae60;
}

.danger-btn {
    background-color: #e74c3c;
}